<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GoTo APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/top">What are "GoTo APP"</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>旅行リスト</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">行きたいところ</p>
        <form action="/create" method="post">
        <input type="text" name="list_appName">
        <input type="submit" value="作成する">
        </form>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>行きたいところ</span>
        </div>
        <% const items = [
        {id: 1, name: '富士急ハイランド'},
        {id: 2, name: 'ディズニーシー'},
        {id: 3, name: 'ダイバーシティ'}
        ]; %>
        <ul class="table-body">
            <% items.forEach((item) => {%>
            <li>
                <div class="item-data">
                <span class="id-column">
                    <%= item.id %>
                </span>
                <span class="name-column">
                    <%= item.name %>
                </span>
                </div>
                <div class="item-menu">
                    <form action="/delete/<%= item.id %>" method="post">
                    <input type="submit" value="削除">
                    </form>
                    <a href="/edit/<%= item.id %>">編集</a>
                </div>
            </li>
        <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>