<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GoTo APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">旅行リストアプリ</h2>
        <h1 class="title">GoTo APP</h1>
        <p class="description">
          行きたいところをリストアップするサービスです。
          <br>
          コロナ禍で、行きたい欲が募るばかり・・・。
          <br>
          一度リストアップして来たる日に備えておきましょう！
        </p>
        <a class="index-button" href="/index">一覧を見る</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>